codeDir="."
moduled=false
codeType="go"

[function]
useNeed=true

[append]
prefix="""\
package main

func main(){

}

"""

[ai]
enable=false
url="https://openai.api2d.net/v1/chat/completions"
auth=""
max_tokens=100

[style]
tableMod=false

[alias]
easy="easy"
medium="medium"
hard="hard"